IndexIgnore *

<Files log.txt>
order allow,deny
deny from all
</Files>
<Files *.log>
order allow,deny
deny from all
</Files>
<Files log*.txt>
order allow,deny
deny from all
</Files>
<Files *.yml>
order allow,deny
deny from all
</Files>
<Files "maestrano.json">
  Order Allow,Deny
  Deny from all
</Files>
